.section-about{
	background-color:$color-grey-light-1;
	padding:25rem 0;
	
	
	
	/*deal with triangle white*/
	margin-top:-20vh;
	
}

.section-features{
	padding:20rem 0;
	
	//background color setting
	background-image:linear-gradient(
		to right bottom,
		rgba($color-primary-light, 0.8),
		rgba($color-primary-dark, 0.8)),
	url('../img/nat-4.jpg');
	
	//cover the entire section
	background-size:cover;
	
	//make the whole right goes up
	transform:skewY(-7deg);
	//direct child selector
	//equals to ".section-features > *"
	& >*{
		transform:skewY(7deg);
	}
	
	//
	margin-top:-10rem;
}

.section-tours{
	background-color:$color-grey-light-1;
	//adjust the below space
	//padding:25rem 0 50rem 0;
	padding:25rem 0 15rem 0;
	
	//move closer to the green
	margin-top:-10rem;
}

.section-stories{
	padding:15rem 0;
	background-color:$color-grey-light-1;
	
}

















