.card{

	//combine with Z
	position:relative;
	height:52rem;
	
	perspective:150rem;
	//make it work on firefox
	-moz-perspective:150rem;
	
	&_side{
		height:52rem;
		transition:all .8s ease;
		
		//Z.make up-one and down-one merge 
		position:absolute;
		top:0;
		left:0;
		
		//because front bar is wider than the back bar
		width:100%;
		backface-visibility:hidden; //hides the back part of an element
		
		//make it looks closer
		border-radius:3px;
		box-shadow:0 1.5rem 4rem rgba($color-black, .15);
		
		//for that image is overflowing the parent in the corner
		overflow:hidden;
		
		&-front{
			background-color:$color-white;
		}
		
		&-back{
			transform:rotateY(-180deg);
			
			&-1{
				background-image:linear-gradient(to right bottom, 
					$color-secondary-light,
					$color-secondary-dark);
			}
			
			&-2{
				background-image:linear-gradient(to right bottom, 
					$color-primary-light,
					$color-primary-dark);
			}
			
			&-3{
				background-image:linear-gradient(to right bottom, 
					$color-tertiary-light,
					$color-tertiary-dark);
			}
		}
	}
	
	//.card:hover .card_side{
	&:hover &_side-front{
		transform:rotateY(180deg);
	}
	&:hover &_side-back{
		transform:rotateY(0);
	}

	//Front side styling
	&_picture{
		
		//manually adjust corner of the pic, make it circle
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		
		background-size:cover;
		height:23rem;
		background-blend-mode:screen;
		
		//image cut
		clip-path:polygon(0 0, 100% 0,100% 85%,0 100%);
		-webkit-clip-path:polygon(0 0,100% 0, 100% 85%,0 100%);
		
		&-1{
			background-image:linear-gradient(
				to right bottom,
				$color-secondary-light,
				$color-secondary-dark),url(../img/nat-5.jpg);
		}
		
		&-2{
			background-image:linear-gradient(
				to right bottom, 
				$color-primary-light, 
				$color-primary-dark),
				url('../img/nat-6.jpg');
			
		}
		
		&-3{
			background-image:linear-gradient(
				to right bottom,
				$color-tertiary-light,
				$color-tertiary-dark),
				url('../img/nat-7.jpg');
		}
	}
		
	&_heading{
		font-size:2.8rem;
		font-weight:300;
		text-transform:uppercase;
		text-align:right;
		color:$color-white;
		//make header above the image
		position:absolute;
		top:12rem;
		right:2rem;
		
		//to make hearder 2 lines
		width:70%;
	}
	
	&_heading-span{
		padding:1rem 1.5rem;
		-webkit-box-decoration-break:clone;
		box-decoration-break:clone;
		&-1{
			background-image:linear-gradient(to right bottom,
			 rgba($color-secondary-light ,.85),
			 rgba($color-secondary-dark, .85));
		}
		
		&-2{
			background-image:linear-gradient(to right bottom,
			 rgba($color-primary-light ,.65),
			 rgba($color-primary-dark, .65));
		}
		
		&-3{
			background-image:linear-gradient(to right bottom,
			 rgba($color-tertiary-light ,.45),
			 rgba($color-tertiary-dark, .45));
		}
	}
		
	&_details{
		
		padding:3rem;
		
		ul{
			list-style:none;
			width:80%;
			margin:0 auto;
			
			li{
				text-align:center;
				font-size:1.5rem;
				padding:1rem;
				
				&:not(:last-child){
					border-bottom:1px solid $color-grey-light-2;
				}
			}
		}
	}
		
	//Front side styling
	&_cta{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:90%;
		text-align:center;
	}
		
	&_price-box{
		text-align:center;
		color:$color-white;
		margin-bottom:8rem;
	}
	
	&_price-only{
		font-size:1.4rem;
		text-transform:uppercase;
	}
		
	&_price-value{
		font-size:6rem;
		font-weight:100;
	}
}




















