
.story{
	width:75%;
	
	//block element inside a block element, so use margin to center
	margin:0 auto;
	
	box-shadow:0 3rem 6rem rgba($color-black, .1);
	background-color:$color-white;
	border-radius:3px;
	padding:6rem;
	font-size:$default-font-size;
	
	//
	transform:skewX(-12deg);
	
	
	//this would select shape and text
	& > * {
		//transform:skewX(12deg);
		//it works with text but not photo
		//because already have one transform going on
		//"translate" here is already a transform
		//and it takes precedence over this one
		//thus only the transform applies, and not the skew
	}
	
	&_shape{
		width:15rem;
		height:15rem;
		
		//make this element sitting on the left side
		float:left;
		background-color:red;
		
		//define where the content floats around the element
		shape-outside:circle(50% at 50% 50%);
		//to make that work in chrome & safari
		-webkit-shape-outside:circle(50% at 50% 50%);
		//in order to make "shape-outside" work, the element has to be "fload"
		//in order to make "float" work, the element must have "dimension", that is height and width
		
		//make circle appear
		clip-path:circle(50% at 50% 50%);
		-webkit-clip-path:circle(50% at 50% 50%);
		
		//make some spaces between circle and content
		transform:translateX(-3rem) skewX(12deg);
		
		//
		position:relative;
	}
	
	&_img{
		//for image is inside a shape which has a well defined width
		//width:100%;
		height:100%;

		//initial state		
		//make the person in the pic center
		transform:translateX(-4rem) scale(1.4);
		
		//
		//backface-visibility:hidden;
	}
	
	&_text{
		transform:skewX(12deg);
	}
	
	//make the name appear on top of the pic
	//initial state
	&_caption{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,20%);
		color:$color-white;
		text-transform:uppercase;
		font-size:1.7rem;
		text-align:center;
		opacity:0;
		transaction:all .5s;
		
		//
		backface-visibility:hidden;
	}
	
	&:hover &_caption{
		opacity:1;
		//transform:translateY(-50%);
		transform:translate(-50%,-50%);
	}
	
	&:hover &_img{
		transform:translateX(-4rem) scale(1);
		filter:blur(3px) brightness(80%);
	}
}















