body{
	padding:50px;
}

.button{
	font-size:20px;
	color:white;
	/* 不建議這麼做，因為不易維護
	background-color:blue !important;*/
	background-color:blue;
}

a{
	background-color:purple;
}

#nav div.pull-right a.button{/*ㄅ*/
	background-color:green;
}

#nav a.button:hover{ /*因為specificity較上面小，所以即便hover也不會改變*/
	background-color:yellow;
}

#nav div.pull-right a.button:hover{ /*改變specificity，比ㄅ高後，hover才會出現變化*/
	background-color:black;
}









