/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Universal Selector。do reset*/
*,
*::after,
*::before{
	/*start clean*/
	margin:0;
	padding:0;
	
	/**/
	/*box-sizing:border-box;*/
	box-sizing:inherit;
}

/*global*/
html{
	/*root font size*/
	/*font-size:10px;/*1 rem= 10px */
	font-size:/*100%16=*/62.5%;
}

body{
	font-family:"Lato",sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:1.7;
	/*color:#777;*/
	
	/*padding:30px;*/
	padding:3rem;
	
	box-sizing:border-box;
}

.header{
	height:95vh;
	background-image:linear-gradient(
		to right bottom,
		rgba(126,213,111,0.8),/*透明度*/
		rgba(40,180,131,0.8)
	),url('../img/hero.jpg');
	background-size:cover;
	background-position:top;
	
	/*右下的折角*/
	/*但這種寫法不會自適應*/
	/*clip-path:polygon(0 0, 100% 0, 100% 400px, 0 100%);*/
	
	/*這種寫法才會*/
	clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	
	/*和下面的logo-box中的position對應*/
	position:relative;
}

.header_logo-box{
	position:absolute;
	
	/*top:40px;
	left:40px;*/
	top:4rem;
	left:4rem;
}

.header_logo{
	/*height:35px;*/
	height:3.5rem;
}

/*
.logo:hover{
	animation:moveInLeft 1s ease-out;
}
*/

.header_text-box{
	position:absolute;
	top:40%;
	left:50%;
	/*調整用*/
	/*background-color:red;*/
	transform:translate(-50%,-50%);
	
	/*讓按鈕置中*/
	text-align:center;
}

.heading-primary{
	color:#fff;
	text-transform:uppercase;
	
	/*解決fade in後出現的shaky、往上移動*/
	backface-visibility:hidden;
	
	/*和按鈕間留空隙*/
	/*margin-bottom:60px;*/
	margin-bottom:6rem;
}

.heading-primary--main{
	display:block;
	/*font-size:60px;*/
	font-size:6rem;
	font-weight:400;
	/*letter-spacing:35px;*/
	letter-spacing:3.5rem;
	
	animation-name:moveInLeft;
	animation-duration:1s;
	/*animation-delay:3s;*/
	/*animation-iteration-count:3;*/
	animation-timing-function:ease-out;
}

.heading-primary--sub{
	display:block;
	/*font-size:20px;*/
	font-size:2rem;
	font-weight:700;
	/*letter-spacing:17.4px;*/
	letter-spacing:1.75rem;
	animation:moveInRight 1s ease-out;
}

@keyframes moveInLeft{
	0%{
		opacity:0;
		/*transform:translateX(-100px) /*rotate(-50deg)*/;
		transform:translateX(-10rem);
	}
	/*
	60%{
		transform:rotate(120deg);
	}
	*/
	80%{
		/*transform:translateX(20px);*/
		transform:translateX(2rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}

@keyframes moveInRight{
	0%{
		opacity:0;
		/*transform:translateX(100px);*/
		transform:translateX(10rem);
	}
	
	80%{
		/*transform:translateX(-10px);*/
		transoform:translateX(-1rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}

/*initial state*/
.btn:visited,
.btn:link{
	text-transform:uppercase;
	text-decoration:none;
	/*padding:15px 40px;*/
	padding:1.5rem 4rem;
	display:inline-block;
	
	/*按鈕邊緣圓弧*/
	/*border-radius:100px;*/
	border-radius:10rem;
	
	transition:all .2s;
	
	position:relative;/*一個頁面這麼多relative，怎知哪個對哪個?*/
	font-size:1.6rem;
}

.btn:hover{
	/*element to move up*/
	transform:translateY(-3px);
	/*box-shadow:0 10px 20px rgba(0,0,0,.8);*/
	box-shadow:0 1rem 2rem rgba(0,0,0,.8);
}

/*when the bottom is clicked */
.btn:active{
	transform:translateY(-1px);
	/*box-shadow:0 5px 10px rgba(0,0,0,0.2);*/
	box-shadow:0 .5rem 1rem rgba(0,0,0,0.2);
}

.btn--white{
	background-color:white;
	color:#777;
}

.btn::after{
	content:"";
	display:inline-block;
	height:100%;
	width:100%;
	/*border-radius:100px;*/
	border-radius:10rem;
	position:absolute;
	top:0;
	left:0;
	
	/*讓個在按鈕後面*/
	z-index:-1;
	
	/*initial state*/
	transition:all .4s;
}

.btn--white::after{
	background-color:#fff;
}

.btn:hover::after{
	/*transform:scale(1.5);*/
	transform:scaleX(1.4) scaleY(1.6);
	
	/*fade out*/
	opacity:0;
}

@keyframes moveInBottom{
	0%{
		opacity:0;
		/*transform:translateY(30px);*/
		transform:translateY(3rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}

.btn--animated{
	animation:moveInBottom .5s ease-out .75s;
	animation-fill-mode:backwards;
}






