
@keyframes moveInLeft{
	0%{
		opacity:0;
		/*transform:translateX(-100px) /*rotate(-50deg)*/;
		transform:translateX(-10rem);
	}
	
	80%{
		/*transform:translateX(20px);*/
		transform:translateX(2rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}

@keyframes moveInRight{
	0%{
		opacity:0;
		transform:translateX(10rem);
	}
	
	80%{
		transoform:translateX(-1rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}

@keyframes moveInBottom{
	0%{
		opacity:0;
		/*transform:translateY(30px);*/
		transform:translateY(3rem);
	}
	
	100%{
		opacity:1;
		transform:translate(0);
	}
}









