//basic definition about entire project


//reset
*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing:inherit;
}

html{
	//define whate 1rem is
	font-size:/*100%16=*/62.5%;
}

body{
	box-sizing:border-box;
}



