body{
	font-family:"Lato",sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:1.7;
	color:$color-grey-dark;
	padding:3rem;
}

.heading-primary{
	color:$color-white;
	text-transform:uppercase;
	
	backface-visibility:hidden;
	
	margin-bottom:6rem;
	
	&--main{
		display:block;
		font-size:6rem;
		font-weight:400;
		letter-spacing:3.5rem;
	
		animation-name:moveInLeft;
		animation-duration:1s;
		animation-timing-function:ease-out;
	}

	&--sub{
		display:block;
		font-size:2rem;
		font-weight:700;
		letter-spacing:1.75rem;
		animation:moveInRight 1s ease-out;
	}
}

.heading-secondary{
	font-size:3.5rem;
	text-transform:uppercase;
	font-weight:700;
	
	/**/
	display:inline-block;
	
	background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark);
	
	/*background gets clipped exactly where the text is*/
	-webkit-background-clip:text;
	color:transparent;
	
	letter-sapcing:.2rem;
	
	transition:all .2s;
	&:hover{
		transform:skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow:.5rem 1rem 2rem rgba($color-black, .2);
	}
}

.heading-teritary{
	font-size:1.6rem;
	font-weight:700;
	text-transform:uppercase;
}


.paragraph{
	font-size:1.6rem;
	
	&:not(:last-child){
		margin-bottom:3rem;
	}
}














