<!Docytype html>
<head>
	<title>Cascade & specificity</title>
	<link rel="stylesheet" href="css/cascade&specificity.css"/>
</head>
<body>
	<nav id="nav">
	<div class="pull-right">
		<a class="button button-danger" href="">Don't click here</a>
	</div>
</nav>
</body>
</html>
